.example {
    color: #fff;
    text-align: center;
}

.example-item {
    display: inline;
}

.example-item_frist {
    background-color: #FAA116;
}

.example-item_second {
    background-color: #57c7c3;
}

.example-item_third {
    background-color: #389703;
}

h3 {
    text-align: right;
    background-color: antiquewhite;
}