.example {
    color: #fff;
    text-align: center;
}

.example-item {
    display: block;
    width: 33.333%;
    height: 150px;
}

.example-item_frist {
    background-color: #FAA116;
}

.example-item_second {
    background-color: #57c7c3;
    margin-left: auto;
}

.example-item_third {
    background-color: #389703;
    margin-left: auto;
    margin-right: auto;
}